.tile {
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  border: 4px solid slateblue;
  cursor: pointer;
  font-size: x-large;
  pointer-events: auto;
}

.tile:disabled {
  pointer-events: none;
}
